{% extends 'base.html' %}
{% load static %}

{% block importCSS %}
	<link href="{% static 'css/general/colorgraph.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/general/cupones.css' %}" rel="stylesheet" type="text/css"/>
{% endblock importCSS %}

{% block cuerpo %}

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form method="POST" action="{% url 'inicio' %}">
					{% csrf_token %}
					<input type="text" class="form-control input-lg" name="titulo" id="titulo" placeholder="Nombre de la receta" maxlength="45">
					<br>
					<textarea name="descripcion" id="descripcion" cols="30" rows="5" class="form-control input-lg" style="resize:none;" placeholder="Mi receta es..."></textarea>
					<br>
					<input type="submit" value="Registrar" class="btn btn-primary btn-block btn-lg btn-pressure btn-sensitive">
					<input type="hidden" id="usuario" name="usuario" value="{{ user.id }}">
				</form>
				<hr class="colorgraph">
				<div id="lista-recetas">
					
					{% for receta in recetas %}
						<div class="row">
					        <div class="col-md-12">
					            <div class="panel panel-default coupon">
					              	<div class="panel-heading" id="head">
					                	<div class="panel-title" id="title">
						                    <label for="" class="label label-primary">{{ receta.resultado }}</label>
						                    <span>{{ receta.titulo }}</span>
					                	</div>
					              	</div>
					              	<div class="panel-body">
						                <img src="http://i.imgur.com/e07tg8R.png" class="coupon-img img-rounded">
						                <div class="col-md-12">
						                    {{ receta.descripcion }}
						                </div>
					              	</div>
					              	<div class="panel-footer">
					              		<div class="row">
					              			<div class="col-md-9">
					              				<small>{{ receta.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</small>
					              				<br>
					              				<label style="font-style:italic;">{{ user.first_name }} {{ user.last_name }}</label>
					              			</div>
					              			<div class="col-md-3" align="center">
					              				<a href="javascript:void(0)"><i class="fa fa-thumbs-o-up fa-2x" onclick="calificar('positivo', {{ receta.id }})" style="margin-right:10px;"></i></a>
						                    	<a href="javascript:void(0)"><i class="fa fa-thumbs-o-down fa-2x" onclick="calificar('negativo', {{ receta.id }})"></i></a>
					              			</div>
					              		</div>
					              	</div>
					            </div>
					    	</div>
					    </div>
					{% endfor %}
					
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

{% endblock cuerpo %}

{% block script %}
	<script>

		function calificar(tipo, id){
			$.ajax({
		        type: "POST",
		        url: "",
		        data: {
		            csrfmiddlewaretoken: '{{ csrf_token }}',
		            opcion: 'calificar',
		            tipo: tipo,
		            id_receta: id
		        },
		        success: function(data) {
		        	var html = '';
		        	for(var i=0; i<data.length; i++){
		        		html += '<div class="row">';
					        html += '<div class="col-md-12">';
					            html += '<div class="panel panel-default coupon">';
					              	html += '<div class="panel-heading" id="head">';
					                	html += '<div class="panel-title" id="title">';
						                    html += '<label for="" class="label label-primary">'+ data[i].resultado + '</label>';
						                    html += '<span>' + data[i].titulo + '</span>';
					                	html += '</div>';
					              	html += '</div>';
					              	html += '<div class="panel-body">';
						                html += '<img src="http://i.imgur.com/e07tg8R.png" class="coupon-img img-rounded">';
						                html += '<div class="col-md-12">' + data[i].descripcion + '</div>';
					              	html += '</div>';
					              	html += '<div class="panel-footer">';
					              		html += '<div class="row">';
					              			html += '<div class="col-md-9">';
					              				html += '<small>' + data[i].fecha_creacion + '</small>';
					              				html += '<br>';
					              				html += '<label style="font-style:italic;">' + data[i].usuario__first_name + ' ' + data[i].usuario__last_name + '</label>';
					              			html += '</div>';
					              			html += '<div class="col-md-3" align="center">';
					              				html += '<a href="javascript:void(0)"><i class="fa fa-thumbs-o-up fa-2x" onclick="calificar(\'positivo\', ' + data[i].id + ')" style="margin-right:10px;"></i></a>';
						                    	html += '<a href="javascript:void(0)"><i class="fa fa-thumbs-o-down fa-2x" onclick="calificar(\'negativo\', ' + data[i].id + ')"></i></a>';
					              			html += '</div>';
					              		html += '</div>';
					              	html += '</div>';
					            html += '</div>';
					    	html += '</div>';
					    html += '</div>';
		        	}
					$('#lista-recetas').html(html);

		        }
		    });
		}

	</script>
{% endblock script %}